	$screen-breakpoint : 700px;
$lil-screen-breakpoint : 699px;
$global-border : 4px solid black;
$shadow : 5px 5px 5px black;
main{
	width:100%;
	#fichas{
		.card{
			box-shadow: $shadow;
			display: flex;
			@media(max-width: $lil-screen-breakpoint) {
				width: 80%;
			}
			@media(min-width:$screen-breakpoint) {
				width: 30%;
			}
		}
	}
}