doctype html
html
	head
		title Las diferentes visiones de la Mama - SEROFCA
		link(rel="stylesheet" type="text/css" href="styles/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		link(rel="shortcut icon" href="favicon.svg")
	body
		header
			nav
				ul
					li
						a(href="/")
							|Inicio
					li
						a(href="https://serofca.com")
							|SEROFCA
					li
						a(href="https://serofcacademica.com.ve")
							|Academia
					li
						a(href="https://serofcainvestiga.com.ve")
							|Investigación
					li
						a(href="https://serofca.wordpress.com")
							|Blog
			img(src="images/lsvg.svg")
		main#start
			img(src="images/MMX3.jpg")
			h1 Taller: “Las diferentes visiones de la Mama” duración 16 horas
			p Dirigido a médicos, técnicos y enfermeras que trabajan con visualización, tratamiento y seguimiento de patologías en mama.
			p Descripción: Taller diseñado para descubrir las distintas visiones que se puede tener de la mama, desde la perspectiva anatómico-fisiológica , pasando por los detalles de la física involucrada en su estudio, la sensibilidad a la radiación, hasta llegar a la escogencia de las mejores técnicas diagnósticas dependiendo de las patologías.
			h3 Programa del curso:
			ul
				li Anatomía y Fisiología de la Mama
				li Generalidades del Cáncer de la mama
				li Las radiaciones ionizantes
				li Dosimetría, Mitos de las Radiaciones
				li Efectos biológicos de radiaciones ionizantes
				li Protección Radiológica: doctrina, técnica, principios  y métodos
				li Sistema de detección y medición de las radiaciones ionizantes	
				li Principios de Funcionamiento, protocolos y mecanismos de Protección Radiológica en la práctica clínica: Mamografía
				li Vínculo con técnica de apoyo : Ultrasonido Mamario
				li Controles de Calidad, Dosimetría  y Levantamientos radiométricos
				li Normas Internacionales y Legislación Nacional
				li Principios de Funcionamiento de equipos encargados de  la evaluación de las mamas e imágenes diagnósticas , protocolos y mecanismos de Protección Radiológica en la práctica clínica: Tomosíntesis / PEM (Mamografía por Emisión de Positrones) vs PET / Gammagrafía y Ganglio Centinela / Resonancia Magnética, Marcadores Tumorales
		footer
			section(id="footerStarter")
				aside
					a(rel="follow" id='wwu' href="https://serofca.com#Contacto").
						¿Quieres trabajar con nosotros?
				aside
					|Contamos con la certificación del Ministerio
					br 
					|del Poder Popular para la Salud,
					br
					|para brindar una solución integral
					br
					|en materia de seguridad radiológica.
				aside
					|Nuestro Horario
					br
					|De Lunes a Sábado 
					br
					|De 8:30a.m. a 6:30p.m. 
					br
					|Emergencias: 24 Horas
					br
					|0212-3107410 / 0424-2011114
			section(id="copyright")
				|serofca.com
				i(class="fa fa-copyright" aria-hidden="true") 2017
			section(id="icons")
				a(rel="follow" href="http://www.twitter.com/serofca")
					i(class="fa fa-twitter") 
				a(rel="follow" href="http://www.facebook.com/serofca")
					i(class="fa fa-facebook") 
				a(rel="follow" href="http://www.instagram.com/serofca")
					i(class="fa fa-instagram") 
				a(rel="follow" href="http://www.serofca.wordpress.com")
					i(class="fa fa-wordpress") 
				a(rel="follow" href="https://www.youtube.com/user/serofcatv")
					i(class="fa fa-youtube")
			section(id="design")
				a(rel="follow" href="https://codepen.io/JhonatanHern")
					|Diseño e implementación: Jhonatan Hernández 
					i(class='fa fa-codepen') 
				a(rel="follow" href="https://github.com/JhonatanHern")
					i(class='fa fa-github')
	link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")