doctype html
html
	head
		title Cursos - SEROFCA
		link(rel="stylesheet" type="text/css" href="styles/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
	body
		header
			nav
				ul
					li
					li
					li
					li
		main
			h1 Cursos de Radiología - SEROFCA
			section(id="fichas")
				div(class="card")
				div(class="card")
				div(class="card")
				div(class="card")
				div(class="card")
				div(class="card")
		footer
			section(id="footerStarter")
				aside
				br
				br
				a(rel="follow" href="#" id="lRSE")
					br
					|Responsabilidad Social Empresarial
					br
					|SEROFCA, una mano amiga.
				a(rel="follow" id='wwu' href="#")
					|¿Quieres trabajar con nosotros?
				br
				br
				aside
					br
					br
					|Contamos con la certificación del Ministerio del Poder Popular para la Salud, para brindar una solución integral en materia de seguridad radiológica.
				br
				br
				aside
					br
					br
					|Nuestro Horario
					br
					|De Lunes a Sábado 
					br
					|De 8:30a.m. a 6:30p.m. 
					br
					|Emergencias: 24 Horas
					br
					|0414-2500936 / 0424-2011114
			section(id="copyright")
				|serofca.com
				i(class="fa fa-copyright" aria-hidden="true") 2023
			section(id="icons")
				a(rel="follow" href="http://www.twitter.com/serofca")
					i(class="fa fa-twitter")
				a(rel="follow" href="http://www.facebook.com/serofca")
					i(class="fa fa-facebook")
				a(rel="follow" href="http://www.instagram.com/serofca")
					i(class="fa fa-instagram")
				a(rel="follow" href="http://www.serofca.wordpress.com")
					i(class="fa fa-wordpress")
				a(rel="follow" href="https://www.youtube.com/user/serofcatv")
					i(class="fa fa-youtube")
			section(id="design")
				a(rel="follow" href="https://codepen.io/JhonatanHern")
					|Diseño e implementación: Jhonatan Hernández
					i(class='fa fa-codepen')
				a(rel="follow" href="https://github.com/JhonatanHern")
					i(class='fa fa-github')