doctype html
html
	head
		title Cursos - SEROFCA
		link(rel="stylesheet" type="text/css" href="styles/style.css")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(charset="utf-8")
		link(rel="shortcut icon" href="favicon.svg")
	body
		header
			nav
				ul
					li
						a(href="/")
							|Inicio
					li
						a(href="https://serofca.com")
							|SEROFCA
					li
						a(href="https://serofcacademica.com.ve")
							|Academia
					li
						a(href="https://serofcainvestiga.com.ve")
							|Investigación
					li
						a(href="https://serofca.wordpress.com")
							|Blog
			img(src="images/lsvg.svg")
		main
			h1 Cursos de Radiología - SEROFCA
			section(id="fichas")
				a(class="card" href="1.html#start")
					img(src='images/1.jpg')
					p Curso de Protección Radiológica de 24 horas
				a(class="card" href="2.html#start")
					img(src='images/RXdent2.jpg')
					p Curso de Protección Radiológica de 24 horas Odontológico (Dirigido al personal técnico, odontólogos e higienistas)
				a(class="card" href="3.html#start")
					img(src='images/MMX3.jpg')
					p Taller: “Las diferentes visiones de la Mama” duración 16 horas
				a(class="card" href="4.html#start")
					img(src='images/2.jpg')
					p Curso “Protección Radiológica al Desnudo”  duración 2 horas
				a(class="card" href="5.html#start")
					img(src='images/ProtecRX1.jpg')
					p Taller de emergencias Radiológicas 16 horas.
			button.form-trigger Contáctanos
		footer
			section(id="footerStarter")
				aside
					a(rel="follow" id='wwu' href="https://serofca.com#Contacto").
						¿Quieres trabajar con nosotros?
				aside
					|Contamos con la certificación del Ministerio
					br 
					|del Poder Popular para la Salud,
					br
					|para brindar una solución integral
					br
					|en materia de seguridad radiológica.
				aside
					|Nuestro Horario
					br
					|De Lunes a Sábado 
					br
					|De 8:30a.m. a 6:30p.m. 
					br
					|Emergencias: 24 Horas
					br
					|0212-3107410 / 0424-2011114
			section(id="copyright")
				|serofca.com
				i(class="fa fa-copyright" aria-hidden="true") 2017
			section(id="icons")
				a(rel="follow" href="http://www.twitter.com/serofca")
					i(class="fa fa-twitter") 
				a(rel="follow" href="http://www.facebook.com/serofca")
					i(class="fa fa-facebook") 
				a(rel="follow" href="http://www.instagram.com/serofca")
					i(class="fa fa-instagram") 
				a(rel="follow" href="http://www.serofca.wordpress.com")
					i(class="fa fa-wordpress") 
				a(rel="follow" href="https://www.youtube.com/user/serofcatv")
					i(class="fa fa-youtube")
			section(id="design")
				a(rel="follow" href="https://codepen.io/JhonatanHern")
					|Diseño e implementación: Jhonatan Hernández 
					i(class='fa fa-codepen') 
				a(rel="follow" href="https://github.com/JhonatanHern")
					i(class='fa fa-github')
		section#form
			form#contact(action="sendmail.php" method="POST")
				h2 Contáctanos
				input(type="email" placeholder="Correo" name="mail" required)
				input(type="text" placeholder="Nombre y Apellido" name="name" required)
				input(type="text" placeholder="País" name="country" required)
				input(type="number" placeholder="Teléfono" name="phone" required)
				textarea(placeholder="Mensaje" name="msj" required)
				div#captcha
					div(class="g-recaptcha" data-sitekey="6LfSCDwUAAAAAFCIAk7lPT-SBXCq_7JtiHIDwWYh")
				input(type="submit" value="Enviar")
		script(async src="js/show.js")
		script(async src="https://www.google.com/recaptcha/api.js")
		link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")