main {
  width: 100%; }
  main #fichas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 10vh;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    main #fichas .card {
      padding: 1em;
      position: relative;
      -webkit-box-shadow: 10px 10px 5px silver;
              box-shadow: 10px 10px 5px silver;
      display: inline-block;
      margin-bottom: 1em;
      cursor: pointer; }
      @media (max-width: 699px) {
        main #fichas .card {
          width: 80%; } }
      @media (min-width: 700px) {
        main #fichas .card {
          width: 30%; } }
      main #fichas .card:hover {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      main #fichas .card img {
        width: 100%; }

#start img {
  width: 80%;
  margin-left: 10%; }

#start p {
  width: 80%;
  margin-left: 10%; }
  @media (max-width: 699px) {
    #start p {
      font-size: 1em; } }
  @media (min-width: 700px) {
    #start p {
      font-size: 1.3em;
      margin-bottom: 2em; } }

footer {
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  footer a {
    color: inherit;
    text-decoration: underline; }
  footer #footerStarter {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    @media (max-width: 699px) {
      footer #footerStarter {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        footer #footerStarter aside {
          width: 80%;
          margin-left: 10%;
          border-top: 1px solid #888;
          padding-top: 1em;
          padding-bottom: 1em; } }
    footer #footerStarter aside {
      text-align: center;
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
  footer #copyright, footer #icons {
    width: 40%;
    font-size: 1.3em;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em; }
    footer #copyright a, footer #icons a {
      margin-right: 1em; }
  footer #design {
    width: 100%;
    text-align: center;
    margin-bottom: 2em; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  font-family: 'Century Gothic',sans-serif; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  color: #333; }

header {
  height: 100vh; }
  header nav {
    width: 100%; }
    header nav ul {
      background-color: rgba(255, 255, 255, 0.9);
      z-index: 99999;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style: none;
      top: 0;
      width: 100%;
      margin: 0;
      padding-left: 0;
      border-top: 4px solid #1c75bc;
      border-left: 4px solid #1c75bc;
      border-bottom: 4px solid #1c75bc; }
      header nav ul li {
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        border-right: 4px solid #1c75bc;
        text-align: center;
        color: #333; }
        header nav ul li:hover {
          background-color: #1c75bc;
          color: white; }
        @media (min-width: 700px) {
          header nav ul li {
            padding: 1.5vh;
            font-size: 4vh; } }
        header nav ul li a {
          text-decoration: none; }
      @media (max-width: 699px) {
        header nav ul {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          position: absolute; } }
      @media (min-width: 700px) {
        header nav ul {
          position: fixed; } }
  header img {
    z-index: 1;
    width: 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
            transform: translate(-50%, -50%) scale(0.8); }

h1 {
  margin-top: 0;
  padding-left: 1em; }

a {
  color: inherit; }
